@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$color-dark: #212121;
$light-color: #fff;
$accent-color: #00897b;
$btn-border-color: #f8f8f8;
$bg-page-gray: #e4fdf9;
$bg-card-color: #3949ab;
$line-color: #060c0b;
$bg-light-gray: #f0f0f0;


h1,	h2, h3, h4, p {
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
  
}
.wrap {
	max-width: 1170px;
	margin: 0 auto;
	&_main {
		position: relative;
		z-index: 1;
	}
}
.social {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	&_our-team {
		margin-top: 34px;
	}
	// .dots {

	// }

	&__item {
		margin-left: 20px;
		margin-right: 20px;
		& a {
			font-size: 30px;
				color: $accent-color;
		}
	
	}
}
.contacts-phone, .contacts-email {
	color: $light-color;
	text-decoration: none;
}
.form-contacts {	
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 1;
	text-align: center;
} 

.form {
	display: flex;
	width: 100%;
	margin-top: 50px;
	&__input {
		display: block;
		width: 100%;
		min-width: 500px;
		&_desc {
			margin-top: 33px;
		}
		&_desc textarea {
			color: gray;
			font-size: 20px;
			font-weight: 600;
			width: 100%;	
			min-height: 315px;
			border-radius: 10px;
			resize: none;
			&::placeholder {
				padding-left: 15px;
				padding-top: 20px;
				letter-spacing: 1.2px;
			}
				
	}
	}
	&__input input {
		width: 100%;
		padding: 30px 0 ;
		font-size: 20px;
		font-weight: 600;
		border-radius: 10px;
		letter-spacing: 1.2px;
	}
	&__input input::placeholder {
		padding-left: 15px;
	}
	&__input:first-child {
		margin-right: 31px;
	}
	&__button {
		padding: 20px 0; 
		font-size: 20px;
		color: $color-dark;
		font-weight: 700;
		width: 220px;
		background-color: $light-color;
		margin-top: 39px;
		border-radius: 10px;
		text-transform: uppercase;
		display: block;
		margin-left:  auto;
	}	

}

.page {
	width: 100%;
	&_about {
		padding-top: 115px;
		padding-bottom: 95px;
	}
	&_gray {
		background-color: $bg-page-gray;
		padding-top: 161px;
		padding-bottom: 125px;
		&-blog {
			background-color: $bg-page-gray;
			padding-top: 350px;
			padding-bottom: 125px;

		}	
		&-light {
			background-color: $bg-light-gray;
			position: relative;
			padding-top: 118px;
			padding-bottom: 67px;

			.line {
				position: absolute;
				// top: 50px;
				left: 0;
				display: block;
				border: 1px dashed $line-color;
				width: 100%;	
			}
		}
	}
	&_our-team {
		padding-top: 118px;
	}		
	
	&_latest-work {
		padding-top: 85px;
		padding-bottom: 135px;
	}
	&__title {
		color: $color-dark;
		font-family: "Open Sans";
		font-size: 30px;
		font-weight: 700;
		line-height: 1.5;
		letter-spacing: 1.5px;
		text-align: center;
		position: relative;
		z-index: 1;
		&_light {
			color: $light-color;
		}	
	}
	&__desc {
		color: $color-dark;
		font-family: "Open Sans";
		line-height: 1.5;
		letter-spacing: 1.5px;
		text-align: center;
		position: relative;
		z-index: 1;
		&_about {
			width: 54%;
			margin: 17px auto 0;
			letter-spacing: 1.0px;
		}
		&_light {
			color: $light-color;
			width: 59%;
			margin: 18px auto 0;
			letter-spacing: 1.2px;
		}
	}	
	&-btn {
		outline: none;
		width: 220px;
		padding-top: 23px;
		padding-bottom: 25px;
		color: $light-color;
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		text-transform: uppercase;
		letter-spacing: 1.9px;
		background-color: $accent-color;
		border: none;
		&_o {
			padding-top: 20px;
			padding-bottom: 22px;
			width: 216px;
			background-color: transparent;
			border: 3px solid $btn-border-color;
			margin-right: 20px;
		}
		&_dark {
			color: $color-dark;
			border: 2px solid $color-dark;
			margin-right: 0;
			margin-top: 40px;	
			width: 154px;
			padding-top: 15px;
    	padding-bottom: 15px; 
		}
		&_dark-o {
			width: 180px;
			color: $color-dark;
			border: 2px solid $color-dark;
			margin-top: 64px;
			text-transform: none;
		}
	}
	&_contacts {
		padding-bottom: 110px;
		background-color: $color-dark;
		background-image: url(../img/bg-contacts.jpg);
		background-size: cover; 
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: $color-dark;
			opacity: 0.95;
			z-index: 0;
		}	
	}
}

.header{
	&__logo {
		color: $color-dark;
		text-decoration: none;
		font-size: 25px;
		font-weight: 700;
		line-height: 22px;
		padding: 50px 0 49px 0;	
		
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1170px;
	margin: 0 auto;
	
	&-list {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		list-style-type: none;
		display: flex;
		justify-content: flex-end;
		
		
		&__item {
	    margin-left: 29px;
    	margin-right: 6px;
			&:last-child {
				margin-right: 0;
			}
		}
		
		&__link {
			color: $color-dark;
			font-size: 20px;
			font-weight: 600;
			line-height: 22px;
			letter-spacing: 1px;
			text-decoration: none;
		}
	}
}
.block-button-list {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top: 117px;
		&__item {
			border: 2px solid $accent-color;
	    margin-left: 8px;
			margin-right: 5px;
			padding: 14px 0;
			width: 180px;
			text-align: center;
		}
		&__item_active {
			width: 97px;
			margin-right: 8px;
			background-color: $accent-color;
			&>a {
				color: $light-color;
			}
		}
		&__link {
			display: block;
			font-size: 20px;
			font-weight: 600;
			line-height: 22px;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-decoration: none;
			color: $color-dark;
		}
}
.block-image {
	color: $light-color;
	padding-top: 197px;
	padding-bottom: 60px;	
	text-align: center;
	background-image: url(../img/bg.jpg);
	background-size: cover; 
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
	  width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0.8;
		z-index: 0;
	}	
	&__title {
		display: block;
		text-align: center;
		font-size: 60px;
		font-weight: 600;
		line-height: 22px;
		letter-spacing: 3px;
		z-index: 2;
	}
	&__subtitle {
		padding-top: 49px;
		font-size: 22px;
		text-align: center;
		letter-spacing: 0.4px;
	}
	&__button {
		margin-top: 109px;
	}
	&__arrow {
		display: inline-block;
    font-size: 34px;
		margin-top: 88px;
		font-weight: 400;
	}
}
.block-about {
	display: flex;
	justify-content: space-around;
	text-align: center;
	margin-top: 0;
	&_contacts {
		position: relative;
		z-index: 1;
	}
}
.block-our-services {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 110px;
}
.block-items { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 22%;
	margin-top: 130px;
	margin-bottom: 28px;
	transition: all 0.3s;
	&_our-service {
		padding: 61px 30px 50px 30px;
    background-color: #fff;
    flex-basis: 27%;
		margin-top: 0;
		transition: background-color 0.2s;
	}
	&_our-service:hover {
		background-color: $accent-color;
		color: $light-color;
		cursor: pointer;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
		.page-btn_dark {
			border-color: $light-color;
			color: $light-color;
		}
		.smartphon {
			color: $light-color;
		}
		
	}
	&_price {
		text-align: center;
		flex-basis: 32%;
		overflow:hidden;
	
		&-wrap {
			background: $bg-card-color;
			color: $light-color;	
			width: 100%;
			margin-top: -30px;
			padding-top: 75px;
			padding-bottom: 50px;
			transform: skewY(-5deg);	
		}
		&__title {
			font-size: 25px;
			font-weight: 400;
			transform: rotate(5deg);
		}
		&__subtitle {
			margin-top: 39px;
			transform: rotate(5deg);
			sup {
				font-size: 25px;
			}
			span {
				font-size: 50px;
				line-height: 22px;
				letter-spacing: 2.5px;
			}
			font-size: 17px;
		}
		&__list {
			margin-top: 23px;
			list-style-type: none;			
		}
		&__item {
			display: block;
			width: 178px;
			padding-top: 37px;
			padding-bottom: 8px;
			border-bottom: 1px solid #000;
			opacity: 0.5; 
			font-size: 17px;
			letter-spacing: 1px;
		}
		padding-bottom: 85px;
		&:hover {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
			cursor: pointer;
			.page-btn_dark-o {
				background-color: $accent-color;
				border-color: $accent-color;
				color: $light-color;
				text-transform: uppercase;
				font-weight: 400;
			}
		}	
	}
	&__title {
		margin-top: 23px;
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 1px;
		&_contacts {
			margin-top: 36px;
		}
	}
	&__desc {
		margin-top: 20px;
		line-height: 1.5;
		&_our-service {
			width: 88%;
			line-height: 1.7;
			letter-spacing: 0.85px;
		}
	}
	&__img {
		width: 62px;
		min-height: 70px;	
	}
	&_contacts {
		 color: $light-color; 
		 display: flex;
		 margin-top: 105px;
		.block-items__img {
			position: relative;
			width: 105px;
			height: 105px;
			background-color: $bg-card-color;
			border-radius: 50%;	
		.block-items__svg {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 60px;
				fill: $light-color;
			}
		}
		
	}
	&_contacts:first-child {
		padding-left: 55px;
	}	
	&_contacts:last-child {
		padding-right: 55px;
	}	
}

.block-gallery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 116px;
	&_our-team {
		padding-top: 131px;
	}
	&-item {
		margin-bottom: 30px;
		flex-basis: 32%;
		text-align: center;
		.block-items__title {
			margin-top: 31px;
		}
			
		.block-items__desc {
			margin-top: 12px;
		}
	}
	&-item:after {

	} 
	&-img {
		width: 370px;
		height: 370px;
		overflow: hidden;
		position: relative;
		
		img {
			width: 370px;
			height: 370px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			object-fit: cover;
		}
		&_our-team {
			width: 370px;
			height: 320px;
			img {
				width: 370px;
				height: 320px;
			}
		}	
	}
	&-button {
		text-align: center;
		margin-top: 100px;
	}
}
.block-price {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.block-blog {
	padding-top: 128px;
	color: $color-dark;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&-item {
		position: relative;
		flex-basis: 49%;
		width: 570px;
		height: 400px;
		text-align: center;
		img {
			width: 570px;
			height: 400px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			object-fit: cover;
		}
	}
	&-text {
		padding-top: 56px;
		text-align: left;
		&__title {
			color: $color-dark;
			font-size: 25px;
			letter-spacing: 1.2px;
			font-weight: 600;
			text-decoration: none;
			margin-left: 5px;
			&:hover {
				color: $accent-color;
			}
		}
		
		
	}
	&-button {
		padding-right: 53px;
		margin: 126px auto 0;

	}	
}
.block-news {
	
	&__info {
		padding-top: 23px;
		font-size: 17px;
		display: flex;
	}	
	&__icon {
		margin-left: 8px;
    margin-right: 8px;
	}
	&__date {
		margin-right: 30px;
		letter-spacing: 1px;
	}
	&__desc {
		margin-top: 26px;
		width: 85%;
    line-height: 1.5;
    letter-spacing: 1px;
	}
}
.footer {
	padding: 21px 0;
}
.copyright {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	letter-spacing: 1.9px;
}


